.NavBody{
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px 5px whitesmoke; 
    justify-content: space-around;
}
.NavBody1{
    display:flex;
    align-items: center;
    justify-content: flex-start; 
}
.NavBody2{
    display:flex;

    align-items: center;
    
}

