/* .ImageSize{

} */



.CardBody{
    width: 300px;
    height: 350px;
    /* background-color: red; */
    box-sizing: border-box;
    /* overflow: hidden; */
    border: 2px solid red;
    display: flex;
    justify-content: flex-start;

    
}
.CardBody h4{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-left: 20px;

}
.CardBody header:hover{
    height: 350px;

}
.Article p{
    flex-wrap: wrap;
}