
.CardBody{
    display: flex;
    /* width: 250px;
    height: 300px; */
    box-sizing: border-box;
    justify-content: space-between;
 
}
.CardBody h4{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-left: 20px;

}
/* .CardBody header:hover{
    height: 350px;

} */
.Article p{
    flex-wrap: wrap;
}
.CardBody a{
    position: relative;
    right: 0;
    display: none;
    margin-left: 20px;
}
.CardBody a:hover{
    background-color: pink;
}