.Card{
    display:block;
    text-align: center;
    /* width: 300px; */
    background-color: rebeccapurple;
   
   
}
.Card:hover{
    box-shadow: 5px 5px 15px 5px red;    
    /* transform: scale(1.5); */

}